body{
    background: rgb(36, 22, 22);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.buttons{
    margin-top: 10px;
}

button{
    margin: 0 5px;
}

table{
    margin-top: 10vh;
    border-collapse: collapse;
    border: 5px solid #000;
}

td{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 18px;
    position: relative;
}

.pixel-index{
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #999;
}

td.pixel{
    width: 4px;
    height: 4px;
    border: 0;
}